<template name='home'>
	<div class='jumbotron'>
<!-- 	{{#if currentUser}}
	Hello, {{name}}!
	{{/if}}
	<p>Welcome to the Haha Game Application</p> -->
	<h2>Gomoku</h2>
	<blockquote>
		<p>Gomoku is an abstract strategy board game. Also called Gobang or Five in a Row, it is traditionally played with Go pieces (black and white stones) on a go board with 19x19 (15x15) intersections; however, because once placed, pieces are not moved or removed from the board; gomoku may also be played as a paper and pencil game. This game is known in several countries under different names.</p>
		<footer>Wikipedia</footer>
	</blockquote>
	{{#if currentUser}}
	<input type='button' class='btn btn-primary pull-right' id='game_lobby_btn' value='> Game Lobby'>
	{{/if}}
	</div>
</template>