.room{
	border-style: solid;
	margin-right: 30px;
	margin-left: 30px;
	width: 100px;
	padding: 20px;
	border-radius: 5px;
	color: gray;
}

.rooms{
	margin: 5px;
	padding: 20px;
	background-color: white;
}

#player_status_box{
	background-color: white;
	margin:5px;
	margin-bottom: 20px;
	padding: 5px;
}

.page-header{
	margin-top: 0px !important;
}

.shadow{
	box-shadow:0 1px 7px rgba(0,0,0,0.4);
    -webkit-box-shadow:0 1px 7px rgba(0,0,0,0.4);
    -moz-box-shadow:0 1px 7px rgba(0,0,0,0.4);
    -ms-box-shadow:0 1px 7px rgba(0,0,0,0.4);
}

.Silver{
	color:rgba(192,192,192,1);
}

.Dirt{
	color:rgba(101,67,33,1);
}

.Bronze{
	color:rgba(205, 127, 50,1);
}

.Gold{
	color:rgba(212, 175, 55,1);
}

.Platinum{
	color:rgba(16, 167, 91,1);
}

.Diamond{
	color:rgba(84, 127, 178,1);
}

.GM{
	color:rgba(147,112,219, 1);
}

hr{
	margin-top: 5px;
}

/*#chatroom{
	background-color: black;
	padding: 5px;
	margin:5px;
}*/

#player_list{
	background-color: white;
	padding: 5px;
	margin:5px;
	max-height: 400px;
	overflow: auto;
}

strike{
	color:#666;
}