<template name='register'>
	<form class='register form-reg'>
		<h2 class='form-reg-heading'>Register</h2>
		<label for='inputUserName' class='sr-only'></label>
		<input type='username' id='inputUsername' class='form-control' name='username' placeholder='Username' autofocus>
		<label for='inputPassword' class='sr-only'></label>
		<input type='password' id='inputPassword' class='form-control' name='password' placeholder='Password'>
		<input class='btn btn-primary' type='submit' value='Register'>
	</form>
</template>